body {
    background-color: rgb(248, 248, 248);
    background-image: url(img1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: ;
}

h2 {
    background-color: rgb(18, 124, 42);
    opacity: 0.1;
}

p {
    background-color: rgb(18, 124, 42);
    opacity: 0.3;
}

div {
    background-color: rgb(18, 124, 42);
    opacity: 0.6;
}

div.opa {
    background-color: rgb(18, 124, 42);
    opacity: 0.9;
}

div.dot {
    background-color: white;
    border-style: dotted;
    border-width: 3px;
    border-color: black;
}

div.dou {
    background-color: white;
    border-style: double;
    border-width: 3px;
    border-color: black;
}

div.ridge {
    background-color: white;
    border-style: ridge;
    border-width: 3px;
    border-color: black;
}

div.inset {
    background-color: white;
    border-style: inset;
    border-width: 3px;
    border-color: black;
}

div.outset {
    background-color: white;
    border-style: outset;
    border-width: 3px;
    border-color: black;
}


/*in this block contains border-shorthand property*/

div.mix {
    background-color: white;
    border-top: 5px solid black;
    border-right: 2px outset black;
    border-bottom: 2px dotted black;
    border-left: 2px ridge black;
    border-radius: 5px;
}


/*margin style contains*/

div.mar {
    background-color: aliceblue;
    border: 2px solid green;
    margin-top: 100px;
    margin-right: 500px;
    margin-bottom: 100px;
    margin-left: 500px;
}


/*shorthand margin:top right bottom left*/

div.pad {
    border: 5px solid green;
    background-color: aliceblue;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}