* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    font-family: 'Open sans', sans-serif;
    line-height: 1.4;
    margin: 0;
}

.bg-primary {
    background-color: rgb(242, 242, 247);
    color: black;
}

.bg-secondary {
    background-color: #fff;
    color: rgb(0, 0, 0);
}

.bg-third {
    background-color: #000000fc;
    color: #fff;
}

li {
    list-style: none;
}

img {
    width: 1300px;
    height: 700px;
    margin: 50px;
}

header {
    width: 100%;
    height: auto;
    padding: 20px;
}

header :hover {
    background-color: rgb(213, 213, 236)
}

header a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    color: black;
    display: flex;
}

header li {
    display: flex;
    justify-content: flex-end;
    text-align: center;
}


/*text*/

.text-upper {
    text-transform: uppercase;
    color: #fff;
}

.text-center {
    text-align: center;
}

.text-xxl {}

.text-xl {
    font-size: 40px;
    letter-spacing: 6px;
    font-weight: 600;
    margin: 20px 20px;
    color: white;
    font-weight: bold;
}

.text-lg {}

.text-md {
    font-size: 14px;
    font-weight: 400;
}

.text-sm {
    font-size: 12px;
    font-weight: 200;
}

.text-xs {
    font-size: 12px;
}


/*table styling*/

.table td,
th {
    text-align: left;
}

.table th {
    padding-bottom: 40px;
}

.table-container {
    margin: 50px 100px 0 240px;
}


/*
.table-container :hover {
    margin: 50px 100px 50px 240px;
}*/

.table :hover {}

.table-1 {
    width: 100%;
    line-height: 30px;
    text-decoration: none;
    padding-bottom: 30px;
}

.table-1 a {
    text-decoration: none;
}

.table-hidden-content {
    display: none;
}

.table-content {
    text-align: left;
}

.table-content a {
    color: #8f8c8c;
}

.table-content a:hover {
    color: black;
}


/*footer section*/

.foot-container {
    background-color: black;
    margin: 0;
    height: 400px;
    width: 100%;
}

.foot-links {
    padding: 40px;
    line-height: 35px;
}

.foot-links a {
    text-decoration: none;
}

.link-white a {
    color: #fff;
}

.link-dim a {
    color: #8f8c8c;
}

.link-dim a:hover {
    color: #fff;
}

.foot-links ul {
    float: left;
    list-style: none;
}

.foot-links ul:last-child,
ul:nth-child(2) {
    padding-left: 100px;
}


/*footer social icons*/

.foot-social-icon {
    display: flex;
    justify-content: end;
}

.foot-social-icon img {
    background-color: #fff;
    height: 50px;
    width: 50px;
}